{% extends 'base.html.twig' %}

{% block title %}Inscription
{% endblock %}


{% block body %}
	{% include 'navbar.html.twig' %}
	<div class="container mt-5">
		<div class="row justify-content-center">

			<div class="col-lg-8 col-md-10">

				<h1 class="text-center mb-4">Inscription</h1>

				{{ form_start(registrationForm) }}
				{{ form_row(registrationForm.nom , { 'label_attr' : {'class' : 'mb-8'},'row_attr': {'class': 'mb-4'}}) }}
				{{ form_row(registrationForm.prenom , { 'label_attr' : {'class' : 'mb-1'},'row_attr': {'class': 'mb-4'}}) }}
				{{ form_row(registrationForm.email , { 'label_attr' : {'class' : 'mb-1'},'row_attr': {'class': 'mb-4'}}) }}
				{{ form_row(registrationForm.password ,{'label_attr' : {'class' : 'mb-1'}, 'row_attr': {'class': 'mb-4'}}) }}
				{{ form_row(registrationForm.telephone ,{'label_attr' : {'class' : 'mb-1'}, 'row_attr': {'class': 'mb-4'}}) }}
				{{ form_row(registrationForm.adresse ,{ 'label_attr' : {'class' : 'mb-1'},'row_attr': {'class': 'mb-4'}}) }}
				{{ form_row(registrationForm.date_naissance,{'label_attr' : {'class' : 'mb-1'}, 'row_attr': {'class': 'mb-4'}}) }}
				{{ form_row(registrationForm.photo,{'label_attr' : {'class' : 'mb-1'}, 'row_attr': {'class': 'mb-4'}}) }}
				{{ form_row(registrationForm.pseudo,{ 'label_attr' : {'class' : 'mb-1'},'row_attr': {'class': 'mb-4'}}) }}
				<button class="btn btn-primary">S'inscrire</button>
				{{ form_end(registrationForm) }}
			</div>
		</div>
	</div>
	{% include 'footer.html.twig' %}
</div>{% endblock %}
