{% extends 'base.html.twig' %}

{% block title %}Contactez-nous
{% endblock %}

{% block body %}
	<h1>Formulaire de Contact</h1>

	{% for message in app.flashes('success') %}
		<div class="alert alert-success">
			{{ message }}
		</div>
	{% endfor %}

	{{ form_start(form) }}
	{{ form_row(form.name) }}
	{{ form_row(form.email) }}
	{{ form_row(form.subject) }}
	{{ form_row(form.message) }}

	<button type="submit" class="btn btn-primary">Envoyer</button>
	{{ form_end(form) }}
{% endblock %}
