<nav class="navbar navbar-expand-lg bg-success">
	<div class="container-fluid">
		<a class="navbar-brand text-white" href="{{ path('app_utilisateur') }}">EcoRide</a>
		<img src="{{ asset('images/ECORIDE.svg') }}" alt="Logo EcoRide" class="img-fluid" style="max-height: 80px;">
		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarNav">
			<ul class="navbar-nav ms-auto">
				<li class="nav-item">
					<a class="nav-link text-white" href="{{ path('app_utilisateur') }}">Accueil</a>
				</li>
				<li class="nav-item">
					<a class="nav-link text-white" href="{{ path('app_covoiturage_index') }}">Covoiturages</a>
				</li>
				{% if app.user %}
					<li class="nav-item">
						<a class="nav-link text-white" href="{{ path('app_user_profile') }}">Mon Profil</a>
					</li>
					<li class="nav-item">
						<a class="nav-link text-white" href="{{ path('app_logout') }}">Déconnexion</a>
					</li>
				{% else %}
					<li class="nav-item">
						<a class="nav-link text-white" href="{{ path('app_login') }}">Connexion</a>
					</li>
					<li class="nav-item">
						<a class="nav-link text-white" href="{{ path('app_register') }}">Inscription</a>
					</li>
				{% endif %}
			</ul>
		</div>
	</div>
</nav>
