{% extends 'base.html.twig' %}

{% block title %}Liste des Covoiturages
{% endblock %}

{% block body %}
	{% include 'navbar.html.twig' %}
	<div class="container my-5">
		<h1 class="mb-4">Trouver un covoiturage</h1>


		<div class="card p-4 shadow mb-5">
			<div class="row justify-content-center">
				<div class="col">
					<input id="depart" class="form-control" placeholder="Lieu de départ" type="text">
				</div>
				<div class="col">
					<input id="arrivee" class="form-control" placeholder="Lieu d'arrivée" type="text">
				</div>
				<div class="col">
					<input id="date" class="form-control" type="date">
				</div>
			</div>
			<div class="text-center mt-4">
				<button class="btn btn-primary btn-lg" id="recherche">Rechercher</button>
			</div>
		</div>

		<h2 id="covoitNumbers" class="mt-5">Résultats de la recherche ({{ covoiturages|length }})</h2>

		<div class="table-responsive">
			<table class="table table-striped table-hover">
				<thead class="table-dark">
					<tr>
						<th>Départ</th>
						<th>Arrivée</th>
						<th>Date de départ</th>
						<th>Heure de départ</th>
						<th>Places disponibles</th>
						<th>Prix par personne</th>
						<th>Actions</th>
					</tr>
				</thead>
				<tbody id="covoiturages">
					{% for covoiturage in covoiturages %}
						<tr>
							<td>{{ covoiturage.lieuDepart }}</td>
							<td>{{ covoiturage.lieuArrivee }}</td>
							<td>{{ covoiturage.dateDepart ? covoiturage.dateDepart|date('d/m/Y') : '' }}</td>
							<td>{{ covoiturage.heureDepart ? covoiturage.heureDepart|date('H:i') : '' }}</td>
							<td>{{ covoiturage.nbPlace }}</td>
							<td>{{ covoiturage.prixPersonne }}
								€</td>
							<td>
								<a href="{{ path('app_covoiturage_show', {'id': covoiturage.id}) }}" class="btn btn-info btn-sm">Voir</a>


								{% if app.user %}

									<form method="POST" action="{{ path('app_covoiturage_reserver', {'id': covoiturage.id}) }}" style="display:inline-block;">

										<input type="hidden" name="_token" value="{{ csrf_token('reserver' ~ covoiturage.id) }}">

										<button type="submit" class="btn btn-warning btn-sm">
											Réserver
										</button>
									</form>
								{% else %}
									<a href="{{ path('app_login') }}" class="btn btn-warning btn-sm" title="Connectez-vous pour réserver">Réserver</a>
								{% endif %}

							</td>
						</tr>
					{% else %}
						<tr>
							<td colspan="7" class="text-center">Aucun covoiturage ne correspond à vos critères de recherche.</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>

		<div class="text-center mt-4">
			<a href="{{ path('app_covoiturage_new') }}" class="btn btn-success">Créer un covoiturage</a>
		</div>
	</div>
	{% block javascripts %}
		<script src="https://cdn.jsdelivr.net/npm/jquery-ajax@2.1.4/jquery.min.js"></script>
		<script src="{{ asset('js/filter.js') }}"></script>
	{% endblock %}
	{% include 'footer.html.twig' %}
{% endblock %}
