{% extends 'base.html.twig' %}

{% block title %}Covoiturage
{% endblock %}

{% block body %}
	{% include 'navbar.html.twig' %}
	<h1>Covoiturage</h1>

	<table class="table">
		<tbody>
			<tr>
				<th>Id:</th>
				<td>{{ covoiturage.id }}</td>
			</tr>
			<tr>
				<th>Date_depart:</th>
				<td>{{ covoiturage.dateDepart ? covoiturage.dateDepart|date('Y-m-d') : '' }}</td>
			</tr>
			<tr>
				<th>Heure_depart:</th>
				<td>{{ covoiturage.heureDepart ? covoiturage.heureDepart|date('H:i:s') : '' }}</td>
			</tr>
			<tr>
				<th>Lieu_depart:</th>
				<td>{{ covoiturage.lieuDepart }}</td>
			</tr>
			<tr>
				<th>Date_arrivee:</th>
				<td>{{ covoiturage.dateArrivee ? covoiturage.dateArrivee|date('Y-m-d') : '' }}</td>
			</tr>
			<tr>
				<th>Heure_arrivee:</th>
				<td>{{ covoiturage.heureArrivee ? covoiturage.heureArrivee|date('H:i:s') : '' }}</td>
			</tr>
			<tr>
				<th>Lieu_arrivee:</th>
				<td>{{ covoiturage.lieuArrivee }}</td>
			</tr>
			<tr>
				<th>Statut:</th>
				<td>{{ covoiturage.statut }}</td>
			</tr>
			<tr>
				<th>Nombre de place:</th>
				<td>{{ covoiturage.nbPlace }}</td>
			</tr>
			<tr>
				<th>Prix personne:</th>
				<td>{{ covoiturage.prixPersonne }}</td>
			</tr>
		</tbody>
	</table>
	<a href="{{ path('app_covoiturage_edit', {'id': covoiturage.id}) }}" class="btn btn-warning btn-sm">Réserver</a>

	<a href="{{ path('app_covoiturage_index') }}">Retour à la liste</a>

	{% include 'footer.html.twig' %}
{% endblock %}
